*{
    box-sizing: border-box;
}

body {
    background: #140836 url('https://images.unsplash.com/photo-1606818855637-f637cdb124b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1934&q=80') no-repeat center;
    background-size: cover;
    font-family: 'Vollkorn', serif;
}

h2,p {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.main {
    margin-top: 3%;
    margin-left: 5%;
    padding: 30px;
    width: 40%;
    background: #fff;
    opacity: 0.7;
    font-size: 28px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 30px;
}

a {
    margin: 20px 25%;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: rgb(0, 47, 255);
    font-style: bold;
    border: 1px solid rgb(0, 47, 255);
    border-radius: 30px;
    text-align: center;
}

a:hover {
    transform: scale(1.2);
}

a:visited {
    color: rgb(55, 60, 80);
}

h2 {
    text-align: center;
    font-size: 38px;
}
